body {
  text-align: center;
  background: linear-gradient(45deg, rgb(27, 52, 136), rgb(0, 165, 187));
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}